{% extends 'myblog/layout.html' %}

{% block header %}
    Первый способ
{% endblock %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">


{% block content %}
    <div class="corner-box-2">
        <h1 class="input_1">Загрузить файл (json):</h1>
        <img src="myblog/static/myblog/img/folder.png" alt="" class="folder">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="parent">
                <input type="file" name="document" class="addfile">
            </div>
            <button type="submit" class="button_2">Провести анализ</button>
        </form>
    </div>
{% endblock %}