{% extends 'myblog/layout.html' %}

{% block header %}
    Главная
{% endblock %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">


{% block content %}

       <!--<h1 class="input_1">Загрузить файл (json)</h1>
        <img src="https://cdn-icons-png.flaticon.com/512/5994/5994710.png" alt="" class="folder">
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="parent">
                <input type="file" name="document" class="addfile">

            </div>
            <button type="submit" class="button_2">Провести анализ</button>
            <button type="submit" class="button">Провести анализ</button>

        </form>
-->
<!-- верхнее меню -->



<!--блоки с текстом-->


<div class="post-wrap">
<div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<h3 class="post-title">Simple</h3>
<p class ="post-content" >
    Простой алгоритм, идеально решающий предоставленный датасет на основе "поверхностного рерайта", то есть рерайта, у с помощью которого осуществляется замена слов синонимами или их перестановка.
Кроме того, алгоритм учитывает односимвольные опечатки в словах, и, соотвественно, распознает перестановку слов местами, как рерайт.</p>
     <a href="/input_1"> <button class="btn1">Анализ</button> </a>
</a>
</div>
</div>

<div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<h3 class="post-title">Cluster</h3>
    <p class ="post-content" > Этот алгоритм группирует предложения с совпадающими словами по кластерам.
Их количество мы считаем методом локтя, при первичной обработке датасета.
Поэтому его точность может иногда "хромать", однако впоследствии можно обрабатывать каждый кластер отдельно,
и процесс определения рерайта сильно упростится, поскольку каждый кластер будет иметь одинаковую семантику. </p>
    <a href="/input_2"> <button class="btn2">Анализ</button> </a>
</a>
</div>
</div>

<div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<h3 class="post-title">Metrics</h3>
    <p class ="post-content" >Алгоритм основывается на поэтапном отборе групп множеством различных алгоритмов.
Например, такими как [список алгоримтмов]
Каждый алгоритм добавляет предложения в ту группу, которую сочтет нужным, либо не добавляет ни в какую.
Для достижения наибольшей точности, мы вручную задали коэффицент, при котором происходит добавление предложения в существующую группу.
        Он должен быть не менее 0.95 из 1 </p>
    <a href="/input_3"> <button class="btn3">Анализ</button> </a>
</a>
</div>
</div>

<div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<h3 class="post-title">Dictionary</h3>
    <p class ="post-content" >Алгоритм, учитывающий синонимы и антонимы слов.
В реальных ситуациях люди очень часто прибегают к использованию синонимов для создания рерайтов.
Этот алгоритм позволяет выявлять рерайт, даже если слово было заменено на синоним.
Более того, он видит замену на антонимы, то есть распознает рерайт в предложениях "вася был не очень умный" и "вася был глупый"</p>
    <a href="/input_4"> <button class="btn4">Анализ</button> </a>
</a>
</div>
</div>

<div class="post-item">
<div class="post-item-wrap">
<a href="" class="post-link">
<h3 class="post-title">Autor's style</h3>
    <p class ="post-content" >Алгоритм, учитывающий синтаксическую структуру теста, авторскую стилистику и показатель читаемости текста(мы использовали индекс тумана Ганнинга).
Будет полезен, если человек пишет рерайт в той же манере, что был написан изначальный текст.
Однако, судить по тому, рерайт текст или нет, лишь по схожести авторской стилистики данных предожений не получится.</p>
    <a href="/input_5"> <button class="btn5">Анализ</button> </a>
</a>
</div>
</div>

</div>

<!-- текст с обводкой
<span class="glowing-text" style="--color: rgb(185,247,255);">Том был просто не готов <br> </span>

<span class="glowing-text" style="--color: rgb(255,205,203);">Он был не готов</span>
-->

{% endblock %}

{% block menu %}
    <div class="main-heading">
      <h1> ПРОВЕРКА ТЕКСТОВ НА РЕРАЙТ</h1>
      <p>Данный сайт предоставляет возможность каждому пользователю выявлять рерайт-группы текстов, позволяя определить количество таких групп, и получать файл, содержащий список рерайтов после проверки. Наша отличительная особенность заключается в том, что мы используем исключительно алгоритмический подход без применения моделей машинного обучения и нейронных сетей. Надеемся, что наша работа поможет Вам определить представленные виды рерайта практически со 100% точностью!</p>
    </div>
{% endblock %}